@font-face {
  font-family: "Karla";
  src: url(assets/fonts/Karla-VariableFont_wght.ttf);
  font-weight: 400 700;
}

:root {
  /* Colors */
  /* Primary  */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  /* Typography */
  /* Body Copy */
  --fs-base: 1rem;

  /* Font Family */
  --ff-base: "Karla", sans-serif;
}

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    accent-color: var(--green-200);
    font-size: 1rem;
    font-family: var(--ff-base);
    line-height: 1.6;
    background-color: var(--green-200);
  }

  h1,
  h2,
  p {
    margin-block: 0;
  }

  input,
  button,
  textarea {
    font: inherit;
  }
}

@layer layout {
  .span-all {
    grid-column: 1 / -1;
  }
}

@layer form {
  .contact {
    background-color: var(--white);
    max-inline-size: 700px;
    margin-inline: auto;
    padding: 2rem;
    border-radius: 1rem;
  }

  form {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    border: 1px solid var(--green-600);
    border-radius: 6px;
    padding: 0.5em 1em;
  }

  .form-group:has([required]) label {
    display: flex;
    gap: 1ch;

    &::after {
      content: "*";
      color: var(--green-600);
    }
  }

  .form-group {
    display: grid;
  }

  .form-group:has([type="radio"], [type="checkbox"]) {
    display: flex;
    gap: 1ch;
  }

  .attribution {
    font-size: 0.6875rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
