@font-face {
  font-family: "Karla";
  src: url(assets/fonts/Karla-VariableFont_wght.ttf);
  font-weight: 400 700;
}

:root {
  /* Colors */
  /* Primary  */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --green-900: hsl(187, 24%, 22%);
  --red: hsl(0, 66%, 54%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  /* Typography */
  /* Body Copy */
  --fs-base: 1rem;

  /* Font Family */
  --ff-base: "Karla", sans-serif;

  --border-radius-form: 1rem;
  --border-radius-input: 6px;
  --padding-form: 2rem;
  --gap-form: 1rem;

  --max-inline-size-form: 700px;
}

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    accent-color: var(--green-600);
    font-size: 1rem;
    font-family: var(--ff-base);
    line-height: 1.6;
    background-color: var(--green-200);
  }

  h1,
  h2,
  p {
    margin-block: 0;
  }

  input,
  button,
  textarea {
    font: inherit;
  }
}

@layer layout {
  .span-all {
    grid-column: 1 / -1;
  }
}

@layer form {
  .contact {
    background-color: var(--white);
    max-inline-size: var(--max-inline-size-form);
    margin-inline: auto;
    padding: var(--padding-form);
    border-radius: var(--border-radius-form);
  }

  form {
    display: grid;
    gap: var(--gap-form);
    @media (width > 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  fieldset {
    padding: 0;
    border: 0;
    display: grid;
    grid-template-columns: inherit;
    gap: var(--gap-form);
  }

  textarea {
    resize: block;
    box-sizing: content-box;
    height: 3lh;
  }

  input,
  textarea,
  .form-group:has([type="radio"]) {
    border: 1px solid gray;
    border-radius: var(--border-radius-input);
    padding: 0.5em 1em;
    cursor: pointer;

    &:focus-visible {
      outline-color: var(--green-600);
    }
  }

  .form-group:has([type="radio"]:checked) {
    background-color: var(--green-200);
    border-color: var(--green-600);
  }

  fieldset:has([required]) legend,
  .form-group:has(:not([type="radio"])[required]) label {
    display: flex;
    gap: 1ch;

    &::after {
      content: "*";
      color: var(--green-600);
    }
  }

  .form-group {
    display: grid;
  }

  .form-group:has([type="radio"], [type="checkbox"]) {
    display: flex;
    gap: 1ch;
  }

  .form-group:has([type="radio"]) {
    position: relative;

    label::after {
      content: "";
      position: aboslute;
      inset: 0;
    }
  }

  button {
    background-color: var(--green-600);
    color: var(--white);
    border: 0;
    padding: 0.5em 1em;
    border-radius: var(--border-radius-input);

    &:hover,
    &:focus-visible {
      background-color: var(--green-900);
      cursor: pointer;
    }
  }

  .error-message {
    color: var(--red);
    font-size: 0.875rem;
    display: none;
  }

  .error-message:not(:empty) {
    display: block;
  }

  input.invalid,
  textarea.invalid,
  fieldset.invalid {
    border-color: var(--red);
  }

  .attribution {
    font-size: 0.6875rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
